/* 头部 */
.header{
    position:relative;
    z-index:9999;
    width:100%;
    background:url(../img/header_bg.png) repeat-x;
}
.header_inner{
    margin:0 auto;
    height:111px;
    max-width:1260px;
    min-width: 1002px;
    background: url(../img/header_inner.jpg) no-repeat center top;
    position:relative;
    z-index:100;
}
.inheader_inner{
    max-width:1900px;
    min-width:1002px;
}
.logo{
    display: block;
    text-align: center;
}
.logo img{
    width:191px;
    height:97px;
}
.language a,.language,.share a{
    background:url(../img/public_bg.png);
    background-repeat: no-repeat;
    
}
.language{
    margin-top:-12px;
    background-position: 150px -71px;
    margin-left:10px;
}
.language a{
    margin-right: 20px;
    float:left;
    padding-left:22px;
}
.language a.lang{
    background-position:-71px 2px;
}
.share{
    margin-top:-12px;
    margin-left:10px;
}
.share a{
    padding-left:20px;
    float:left;
    margin:0 20px 0 0;
    /*width:50px;*/
    height:23px;
}
.share a.mobile{
    background:url(../img/phones.png);
    background-repeat: no-repeat;
}
.share a.djpt{
    background:url(../img/dangjian.png);
    background-repeat: no-repeat;
    /*width:60px;*/
    padding-left:25px;
}
.help_nav{
    position: absolute;
    right:10px;
    top:85px;
    z-index:9999;
}
.help_nav ul li{
    float: left;
    height:28px;
    position: relative;
    background: url(../img/blank.png);
}
.help_nav>ul>li:hover{
    height:26px;
}
.help_nav>ul>li:hover div{
    display: block!important;
}
.help_nav>ul>li>a{
    float:left;
    padding-right: 26px;
    background: url(../img/arrb.png) no-repeat right 5px;
}
.help_sub{
    position:absolute;
    right:0;
    top:26px;
}
.help_sub ul li{
    line-height:31px;
    background:url(../img/header_inner.jpg) no-repeat right 1px;
    width:100px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
}


.nav{
    position: relative;
    width:100%;
    height:38px;
    border-top:1px solid #5d5d5c;
    border-bottom:1px solid #5d5d5c;
}


.nav_inner{
    margin:0 auto;
    width:100%;
    position:relative;
}
.nav_inner ul{
    margin:0 auto;
    width:650px;
}
.nav_inner ul li{
    float: left;
    margin-right: 20px;
}
.nav_inner ul li a.flevel{
    display:block;
    margin:0 12px;
    padding:0 18px;
    color: #fff;
    line-height:36px;
    font-size:13px;
}
.nav_inner ul li a.flevel:hover .nav_inner ul li a.on{
    border-bottom:2px solid #da251d;
    color:#fff;
}


.drop{
    position:absolute;
    left:0;
    top:39px;
    width:100%;
    height:180px;;
    background:#040a16;
}
.sub_nav_brand{
    margin:0 auto;
    width:766px;
    min-width:170px;
    background:#040a16;
    overflow: hidden;
}
.sub_nav_brand dl{
    float:left;
    padding:16px 0 0 0 ;
    width:16.6666%;
    text-align: center;
}
.sub_nav_brand dl dt img{
    width:100%;
    transition:transform 400ms linear 0ms;
}
.sub_nav_brand dl dt:hover{
    transform:scale(1.08);
    transition:all 0.4s ease-in-out;
}
.sub_nav_brand dl dd a{
    color:#fff;
}

/*下拉框——服务*/
.sub_nav_service{
    margin:0 auto;
    width:900px;
    min-width:170px;
    background:#040a16;
    /* overflow:hidden; */
    height:180px;
    padding:0;
}
.sub_nav_service a{
    color:#fff;
}
.sub_nav_service_l{
    margin:20px 0 0 0;
    width:255px;
    height:135px;
    border-right:3px solid #fff;
}
.sub_nav_service_l div{
    margin-left:100px;
}
.sub_nav_service span{
    display: block;
    width:50px;
    height:1px;
    background: #fff;
    margin-left:10px;
}
.sub_nav_service h2{
    font-size:16px;
    font-weight: 100;
}
.sub_nav_service h2{
    margin:10px 0 10px 10px;
    padding-left:20px;
}
.weizi{
    background:url(../img/weizi.png) no-repeat 0 6px;
}
.dianhua{
    background:url(../img/dianhua.png) no-repeat 0 6px;
}
.sub_nav_service_c{
    /* padding:20px; */
    margin-top:20px;
    padding-left:10px;
    position: relative;
    width:400px;
    height:135px;
    border-right:3px solid #fff;
}
.car{
    background: url(../img/car.png) no-repeat 0 6px;
}


.mart50{
    position: absolute;
    left:200px;
    top:-6px;
}
.mart50 img{
    width:253px;
    height:147px;
}

.sub_nav_service_r{
    padding:0px;
    height:135px;
}
.sousuo{
    background: url(../img/sousuo.png) no-repeat 0 6px;
}
.sub_nav_service_r div{
    margin-top: 24px;
    width: 200px !important;
    height: auto !important;
    background: none !important;
    color: #fff;
    font-size: 12px !important;
}
.sub_nav_service_r h3{
    font-weight: normal;
    padding-left:10px;
}

/*下拉框新闻*/
.sub_nav_news{
    width:776px;
    height:180px;
    background:#040a16;
    color:#fff;
    margin:0 auto;
}
.sub_nav_news dt span{
    display: block;
    width:50px;
    height:1px;
    background: #fff;
    margin-left:10px;
}
.sub_nav_news dl{
    padding:20px 0 0;
}
.sub_nav_news dl dt{
    float: left;
    width:155px;
}
.sub_nav_news dl dt h2{
    font-size:16px;
    line-height: 34px;
    font-weight: 400;
}
.sub_nav_news dl dt h2 a{
    color:#fff;
}
.sub_nav_news dl dd{
    float: left;
    margin:0 30px;
    width:206px;
    height:150px;
    /* border:4px solid #fff; */
}
.sub_nav_news dl dd img{
    border:4px solid #fff;
}
.sub_nav_news dl dd p{
    text-align: center;
    font-size:14px;
    line-height: 40px;
}
.sub_nav_news dl dd a{
    color:#fff;
    font-size:14px;
    line-height: 40px;
}

/*下拉框文化*/
.sub_nav_culture{
    width:776px;
    height:180px;
    background:#040a16;
    color:#fff;
    margin:0 auto;
}
.sub_nav_culture dl{
    padding-left:108px;
}



.banner img{
    width:100%;
}

.yellow_bottom{
    z-index:1000;
    position:relative;
    width:100%;
    height:7px;
    background:#d2a052;
}
.yellow_bottom img{
    position:absolute;
    top:7px;
    left:50%;
    margin-left:-116px;
    cursor:pointer;
}

.link_list{
    height:742px;
    width:100%;
    overflow: hidden;
}
.link_list li{
    float: left;
}
.link_list li.video{
    width:50%;
    height:742px;
}
.video img{
    height:100%;
    width:100%;
    cursor:pointer;
}
.link_img{
    /*background:url("../img/ind_news.jpg") no-repeat rgb(236,236,236);*/
    -webkit-background-size: 100% 100%!important;
    background-size: 100% 100%!important;
    width:50%;
    height:742px;
}
.box_news_x{
    margin: 0 auto;
    width:600px;
    padding-top:10%;
}
.box_news_x h3{
    padding-bottom:4px;
    font-weight:600;
    font-size:30px;
    font-family: "宋体";
    text-align:center;
    color:#646464;
}
.box_news_x h4{
    margin:0 auto;
    /*text-align:center;*/
    color:#646464;
    font-family: "微软雅黑";
    font-size:16px;
    width:50px;
    padding-top:11px;
    border-bottom:1px solid #da251d;
}
.box_news_list{
    overflow: hidden;
    margin-top: 30px;
}
.box_news_list_img1{
    width:178px;
    height:133px;
    float:left;
}
.box_news_list_img1 img{
    width:100%;
}
.box_news_list_txt1{
    float: right;
    width:388px;
}
.box_news_list_txt1 h2{
    font-size:14px;
}
.box_news_list_txt1 h2 a{
    color:#646464;
}
.box_news_list_txt1 h2 a:hover{
    text-decoration: underline;
}
.box_news_list_txt1 span{
    display: block;
    margin:5px 0px;
    color:#d5b071;
    font-family: Arial, Helvetica, sans-serif;
}
/* .box_news_list_txt1 p{
    line-height: 20px;
    color:#646464;
} */
a.nnmore{
    font-size:12px;
    color:#d2a052;
    width:68px;
    height:22p;
    line-height:22px;
    padding-left: 12px;
    border:1px solid #d2a052;
    background:url(../img/arr_yellow.png) 65px center no-repeat;
    display: block;
    /* margin: 0 auto; */
    margin-top:4%;
}
.big_img{
    width:100%;
    height:420px;
    /* overflow: hidden; */
    border-bottom: 5px solid #d2a052;
    background-attachment: fixed;
    /* background: center top; */
    /* background-repeat: no-repeat; */
    position: relative;
    /* background-attachment: inherit */
}
/* .big_img_box{
    line-height:26px;
    color:#fff;
    font-size: 12px;
    position: absolute;
    width:494px;
    height:270px;
    left:141px;
    top:50%;
    margin-top:-135px;
} */

.friend{
    background:url(../img/friend_bg.jpg) repeat-x;
    height:236px;
}

.friend .friend_inner p{
    padding-top:22px;
}
.friend .friend_inner ul{
    margin:50px auto 0 auto;
}

.friend .friend_inner ul li{
    float: left;
    width:24.8%;
    text-align: center;
}
.friend .friend_inner ul li a{
    display: block;
    margin:6px 0 0 0;
    color:#fff;
    font-size:18px;
}
.friend .friend_inner ul li a:hover{
    text-decoration: underline;
}
.friend .friend_inner ul li span{
    color:#fff;
}
.friend .friend_inner ul li.line{
    border-right:1px solid #696c6f;
    width:0px;
    overflow: hidden;
    height:60px;
    margin-top:10px;
}

.footer_nav{
    height:467px;
    background: url(../img/footer_nav.jpg);
    
}
.bottom4{
    padding:12px 0 15px;
    margin-bottom:35px;   
    text-align: center; 
    border-bottom:1px solid #505355;
    border-top:1px solid #000;
}
.bottom4 img{
    cursor: pointer;
}

.footer_nav_center{
    margin:0 auto;
    /* text-align: center; */
}
.footer_nav_center dl{
    display: inline-block;
    padding:0 20px;
    vertical-align: top;
    margin: 0 auto;
}
.footer_nav_center dl dd{
    margin-top:8px;
}
.footer_nav_center dl:first-child{
    margin-left:380px; 
}
.footer_nav_center dl a{
    color:#d2a052;
    font-size:14px;
    text-align: left;
}
.footer_nav_center dl a:hover{
    text-decoration: underline;
}

.footer{
    background: url(../img/footer_bg.jpg) bottom left repeat-x #e9c473;
    height:60px;
    line-height: 60px;
    text-align: center;
}
.footer a{
    color: #000000;
    margin-left:5px; 
}
.footer a:hover{
    text-decoration: underline;
}
.footer img{
    vertical-align: middle;
}